blinker
click
contourpy
cycler
Flask
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
six
tk
tzdata
Werkzeug
